/*
* elk-css mk.1
* Copyright 2017, May W.
* github.com/twentytwoo/elk-css
* 17/03/2017
*/

/* TOC
------------------------------
- Tags
- Global Variables
- Grid
- Sizes
- Helpful classes
- Breakpoints
*/

/* Global Variables
------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
$spacing-unit: 15px;
$breakpoint: 750px;
$transition-t: 0.2s;
$text-color: #333;

/* Tags
------------------------------*/
* {
	font-family: "Nunito Sans", sans-serif;
	font-weight: 300;
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
}
body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
}
a {
	color: $text-color;
	transition: $transition-t;
	outline: 0; /* no dotted outline */
	&:hover {
		color: #03A9F4;
	}
}
img {
	max-width: 100%;
	max-height: 100%;
	margin-top: $spacing-unit/2
}

/* Main items
------------------------------*/
.row *,
.column * {
	background-color: #fff;
}
.container {
	width: 80vw;
	padding: $spacing-unit/2;
	margin: $spacing-unit/2;
	position: relative;
}
.column,
.row {
	.full,
	.half,
	.third,
	.twothirds, {
		padding: $spacing-unit/2;
		margin-right: $spacing-unit/2;
		*:last-child {
			margin-bottom: 0;
			margin-right: 0;
		}
	}
}
.column {
	display: flex;
	flex-direction: column;
	margin-bottom: $spacing-unit/2;
	position: relative;
}
.row {
	display: flex;
	flex-direction: row;
	margin-bottom: $spacing-unit/2;
	position: relative;
	&:last-child {
		margin-right: 0 !important;
	}
	.column {
		margin-bottom: 0;
	}
}
.half {
	display: inline-block;
	width: 50%;
}
.third {
    width: 33.3333333333%;
    position: relative;
}
.twothirds { width: 66.6666666666%; }
.full { width: 100%; }

@media (max-width: $breakpoint) {
	.row,
	.column,
	.half,
	.third,
	.twothirds {
		display: block;
		width: 100%;
	}
}

/* Helpful classes
------------------------------*/
.stretch { /* fill row */
	display: block;
	width: 100%;
}
.vcenter { /* vertically center */
	display: flex;
	align-items: center;
}
.hcenter { /* horizontally center */
	display: flex;
	justify-content: center;
}
.left-pull { /* pull div left of parent */
	align-self: flex-start;
    margin-right: auto;
}
.right-pull { /* pull right of parent */
	align-self: flex-end;
    margin-left: auto;
}
.circular {
	border-radius: 50%;
	overflow: hidden;
}
.vspacer { margin-top: $spacing-unit/2; width: 100%; }
.hspacer { margin-left: $spacing-unit/2; }
.tal { text-align: left; }
.tar { text-align: right; }
.tac { text-align: center; }
.nm { margin: 0 !important }
.np { padding: 0 !important }
.nav {
	border-top: 1px solid #e8e8ee;
	border-bottom: 1px solid #e8e8ee;
	padding: $spacing-unit/4;
	* {
		display: inline-block;
		padding-right: $spacing-unit;
		&:last-child {
			padding-right: 0;
		}
	}
}

/* Internal positioning
------------------------------*/
.sub-container {
	position: relative;
	margin: $spacing-unit/2;
}
.internal { /* absolute positioning made easy */
	position: absolute;
	margin: auto;
}
.internal.hcenter { left: 0; right: 0; }
.internal.vcenter { top: 0; bottom: 0; }
.internal.left { left: 0; }
.internal.right { right: 0; }
.internal.bottom { bottom: 0; }
.internal.top {	top: 0; }

/* Font sizing
------------------------------*/
h1 { font-size: 10.594vw }
h2 { font-size: 8.063vw }
h3 { font-size: 6.375vw }
h4 { font-size: 4.25vw }
h5 { font-size: 3.5vw }
h6 { font-size: 2vw }

h1,h2,h3,h4,h5,h6 {
	color: #333;
	margin: 0;
	margin-bottom: $spacing-unit/2;
	max-width: 100%;
	&:last-child {
		margin-bottom: 0;
	}
}

p {
	margin: 0;
	margin-bottom: $spacing-unit/2;
}


/* Responsive sizes
------------------------------*/
.col-12 {
	width: 100%;
	padding: $spacing-unit/2;
}

/* Responsive sizes
------------------------------*/
.container:after,
.row:after,
.column:after {
  content: "";
  display: table;
  clear: both; }
