/*
* elk-css mk.1
* Copyright 2017, May W.
* github.com/twentytwoo/elk-css
* 17/03/2017
*/

/* TOC
------------------------------
- Variables
- Tags
- Grid
- Sizes
- Helpful classes
- Breakpoints
*/

/* Global Variables
------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Inconsolata');
$font-size: 1rem;
$spacing-unit: 1rem;
$breakpoint: 650px;
$text-color: #333;
$light-grey: #E8E8EE;

/* Tags
------------------------------*/
* { box-sizing: border-box; }
html {
	font-family: "Nunito Sans", sans-serif;
	font-weight: 300;
	font-size: 1rem;
}
html, body {
	margin: 0;
	padding: 0;
}
body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
}
a {
	color: $text-color;
	outline: 0; /* no dotted outline */
	&:hover { color: #03A9F4; }
	outline: 0; /* remove dotted border */
}
img {
	max-width: 100%;
	max-height: 100%;
}
pre, code {
	margin: 0;
	padding: 2px;
	border-radius: 0;
	border: 1px solid #e8e8ee;
	font-family: "Inconsolata", monospace;
	font-size: 14px;
}
hr { border: 0; border-top: 1px solid #e8e8ee; }
button, input {
	border: 1px solid $light-grey;
	padding: $spacing-unit/2;
	margin-bottom: $spacing-unit/2;
	outline: 0; /* remove dotted border */
}
ul { list-style-type: circle; }
/* Main items
------------------------------*/
.container {
	width: 80vw;
	max-width: 1200px;
	padding: $spacing-unit/2;
	margin: $spacing-unit/2;
	position: relative;
}
.column,
.row {
	.full,
	.half,
	.third,
	.twothirds,
	.col-2,
	.col-4,
	.col-6,
	.col-8,
	.col-10,
	.col-12 {
		padding: $spacing-unit/2;
		margin-right: $spacing-unit/2;
		margin-bottom: $spacing-unit/2;
		*:last-child { margin-bottom: 0; }
	}
	*:last-child { margin-right: 0; }
	.column * { margin-right: 0; }
}
.column {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
}
.row {
	display: flex;
	align-content: center;
	align-items: flex-start;
	flex-direction: row;
	position: relative;
	justify-content: flex-start;
	&:last-child {
		margin-right: 0 !important;
	}
}
.half {
	display: inline-block;
	width: 50%;
}
.third {
  flex: 0 0 calc((100% - 1em)/3);
  position: relative;
}
.twothirds {
	flex: 1 0 calc((100% - 1em)/3);
	max-width: 66.6%; /* insurance :^); */
	position: relative;
}
.full { flex-grow: 1; }

@media (max-width: $breakpoint) {
	.row,
	.column,
	.half,
	.third,
	.twothirds,
	.col-2,
	.col-4,
	.col-6,
	.col-8,
	.col-10,
	.col-12 {
		display: block;
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		margin-right: 0 !important;
	}
}
@media (max-width: $breakpoint*0.7) {
	.container {
		width: 100vw;
		padding: $spacing-unit;
	}

}

/* Helpful classes
------------------------------*/
.stretch { /* fill row */
	display: block;
	width: 100%;
	align-self: stretch;
}
.vcenter { /* vertically center */
	display: flex;
	align-items: center;
}
.hcenter { /* horizontally center */
	display: flex;
	justify-content: center;
}
.pull-left { /* pull div left of parent */
	align-self: flex-start;
    margin-right: auto;
}
.pull-right { /* pull right of parent */
	align-self: flex-end;
    margin-left: auto;
}
.circular {
	border-radius: 50%;
	overflow: hidden;
}
.vspacer { height: 1px; padding-top: $spacing-unit; width: 100%; }
.hspacer { height: 1px; padding-left: $spacing-unit; display: inline-block;}
.tal { text-align: left; }
.tar { text-align: right; }
.tac { text-align: center; }
.nm { margin: 0 !important }
.np { padding: 0 0 0 0 !important }
.nav {
	* {
		display: inline-block;
		padding-right: $spacing-unit;
		&:last-child {
			padding-right: 0;
		}
	}
}
.bl { align-items: baseline !important; }

/* Internal positioning
------------------------------*/
.relative {
	position: relative;
	overflow:hidden;
	margin-bottom: -$spacing-unit/2 !important;
}
.internal { /* absolute positioning made easy */
	position: absolute;
	margin: auto;
	top: 0; /* slight bugfix */
}
.internal.hcenter { left: 0; right: 0; }
.internal.vcenter { top: 0; bottom: 0; }
.internal.left { left: 0; top: 0; } /* set top:0 to prevent overflow; */
.internal.right { right: 0; top: 0;}
.internal.bottom { bottom: 0; top: auto; } /* reset top */
.internal.top {	top: 0; }

/* Font sizing
------------------------------*/
h1 { font-size: 9.9094vw }
h2 { font-size: 8.063vw }
h3 { font-size: 6.375vw }
h4 { font-size: 4.25vw }
h5 { font-size: 3.5vw }
h6 { font-size: 2vw }
h1,h2,h3,h4,h5,h6 {
	color: #333;
	margin: 0;
	margin-bottom: $spacing-unit/2;
	max-width: 100%;
	&:last-child {
		margin-bottom: 0;
	}
}
p {
	margin: 0;
	margin-bottom: $spacing-unit/2;
	background-color: transparent;
}

/* Responsive sizes
------------------------------*/
.col-2 { width: 16.6666666% }
.col-4 { width: 33.3333333% }
.col-6 { width: 50% }
.col-8 { width: 66.6666666% }
.col-10 { width: 83.3333333% }
.col-12 { width: 100%; }
.container:after,
.row:after,
.column:after {
  content: "";
  display: table;
  clear: both; }